
.header{
  width:100%;
  height: 1.23rem;
  position: fixed;
  top:0;
  z-index: 3000;
}
.title{
  width:100%;
  height: 1.0rem;
  text-align: center;
  line-height: 1.3rem;
  font-size:0.3rem;
  color: #fff;
  background: -webkit-linear-gradient(top, #2C2D31, #101013);
  /*background: red;*/
  opacity: 0.9;
}
.hui{
  width:100%;
  height: 0.24rem;
  background: #EFEFF4;
}
.head{
    width:100%;
    background: #EFEFF4;
    text-align: left;
    padding-top: 1.23rem;
    min-height: 88%;
   }
    .backto{
    color: #fff;
    display: flex;
    margin-left: 0.16rem;
     position: fixed;
    top:0.25rem;
    z-index: 3000;
    lin
   }
   .backto img{
    width:0.16rem;
    height: 0.28rem;
    background-size: 100% 100%;
    margin-top: 0.24rem;
    margin-right: 0.08rem;
   }
   .backto div{
    margin-top: 0.22rem;
    font-size: 0.25rem;
   }
  
   li{
    width:100%;
    background: #fff;
   }
   .left{
    border-bottom:1px solid #e5e5e5;
    padding-bottom: 0.25rem;
    margin-left: 0.31rem;
    padding-top: 0.2rem;
   }

  .zhandian{
    font-size:0.28rem;
    color: #333;
    /*font-weight: bold;*/
  }
  .palce{
    font-size:0.19rem;
    color: #666;
    margin-top: 0.2rem;
  }
  .down{
    padding-top: 0.18rem;
    padding-bottom: 0.17rem;
    font-size: 0.22rem;
    display: flex;
    margin-left: 0.31rem;
    margin-bottom: 0.16rem;
  }
  .money{
    width:1.56rem;
    font-size: 0.28rem;
  }
  .time{
    display: inline-block;
    color: red;
    width:0.5rem;
    margin-top:0.08rem;
    text-align: center;
  }
  .jisuan{
    display: flex;
    margin-left: 2.34rem;
  }
  input{
    border:none;
    width:0.52rem;
    height: 0.32rem;
    line-height: 0.4rem;
    /*padding-left: 0.1rem;*/
    color:#333;
    font-size: 0.29rem;
    margin-left: 0.05rem;
    margin-right: 0.05rem;
    text-align: center;
    margin-top: 0.03rem;
  }
  .add,.jian{
    width:0.38rem;
    height: 0.38rem;
    background:   #5B8CFF ;
    color: #fff;
    text-align: center;
    line-height: 0.38rem;
    border-radius: 0.05rem;
    font-size: 0.34rem;
  }
  .reason{
    margin-left: 0.31rem;
    font-size: 0.22rem;
    color: #333;
    margin-top: 0.15rem;
  }
  textarea{
    width:94%;
    height: 1.28rem;
    border:none;
    margin-top: 0.13rem;
    padding-left: 0.31rem;
    font-size: 0.16rem;
    color: #B2B2B2;
    padding-top: 0.2rem;
     resize : none;
  }
  .submit{
    width:100%;
    height: 0.77rem;
    background: #5B8CFF;
    background-size: 100% 100%;
    text-align: center;
    line-height: 0.77rem;
    color: #fff;
    font-size: 0.28rem;
    position: fixed;
    bottom: 0;
  }
  .toast{
    width:3.75rem;
    height:0.94rem;
    background:#000;
    opacity: 0.7;
    color: #fff;
    text-align: center;
    line-height: 0.94rem;
    font-size: 0.27rem;
    border-radius: 0.08rem;
    position: fixed;
    top:4.59rem;
    z-index: 1000;
    left: 1.2rem;
    display: none;
  }